<section class="section" id="contacts">
  <div class="container contact-us">
    <div class="contact-us-content-left">
      <svg id="icon-decoration" height="20" width="285">
        <use href="./img/icons.svg#icon-decoration"></use>
      </svg>
      <h2 class="contact-us-title">Let's Tell Your Story</h2>
      <p class="contact-us-text">
        I can't wait to hear more about your wedding! Tell me about your plans,
        and I'll be in touch to discuss how we can create magic together.
      </p>
      <address class="contact-us-address">
        <ul class="contact-us-address-list">
          <li class="contact-us-address-list-item">
            <a href="mailto:info@mariakovalenko.com" class="address-icon">
              <svg id="icon-mail" height="24" width="24">
                <use href="./img/icons.svg#icon-mail"></use>
              </svg>
            </a>
            <a class="address-info" href="mailto:info@mariakovalenko.com"
              >info@mariakovalenko.com</a
            >
          </li>
          <li class="contact-us-address-list-item">
            <a href="tel:+405551234567" class="address-icon">
              <svg id="icon-call" height="24" width="24">
                <use href="./img/icons.svg#icon-call"></use>
              </svg>
            </a>
            <a class="address-info" href="tel:+405551234567"
              >+40 (555) 123-4567</a
            >
          </li>
          <li class="contact-us-address-list-item">
            <a
              href="https://www.google.com/maps/place/Raschdorffstraße+2,+13409+Berlin-Bezirk+Reinickendorf,+Германия/@52.5679038,13.3628084,17z/data=!3m1!4b1!4m6!3m5!1s0x47a853ca446de2a9:0xc962cacc3995edea!8m2!3d52.5679038!4d13.3628084!16s%2Fg%2F11q2n92wm5?entry=ttu&g_ep=EgoyMDI2MDYyOS4wIKXMDSoASAFQAw%3D%3D"
              class="address-icon"
            >
              <svg id="icon-location" height="24" width="24">
                <use href="./img/icons.svg#icon-location"></use>
              </svg>
            </a>
            <a
              class="address-info"
              href="https://www.google.com/maps/place/Raschdorffstraße+2,+13409+Berlin-Bezirk+Reinickendorf,+Германия/@52.5679038,13.3628084,17z/data=!3m1!4b1!4m6!3m5!1s0x47a853ca446de2a9:0xc962cacc3995edea!8m2!3d52.5679038!4d13.3628084!16s%2Fg%2F11q2n92wm5?entry=ttu&g_ep=EgoyMDI2MDYyOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              >Raschdorffstraße 2-26, 13409 Berlin, Germany</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="contact-us-content-right">
      <form action="" method="post" id="contact-form">
        <label for="name-input" class="form-label">Name*</label>
        <input
          type="text"
          name="name-input"
          id="name-input"
          placeholder="Maria"
        />
        <p class="error-text" data-error-for="name-input"></p>

        <label for="phone-input" class="form-label">Phone*</label>
        <input
          type="tel"
          name="phone-input"
          id="phone-input"
          placeholder="380991234578"
        />
        <p class="error-text" data-error-for="phone-input"></p>

        <label for="message-input" class="form-label">Message</label>
        <textarea
          name="message-input"
          id="message-input"
          rows="8"
          placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
        ></textarea>
        <p class="error-text" data-error-for="message-input"></p>
        <button type="submit" class="btn-submit">Let's Talk</button>
      </form>
      <div class="contact-form-loader is-hidden">
        <span class="loader"></span>
      </div>
    </div>
  </div>
</section>
