<section class="section feedbacks-section" id="feedbacks">
  <div class="container">
    <div class="feedbacks-title-wrapper">
      <svg
        class="feedbacks-icon-decoration"
        width="300"
        height="21"
        aria-hidden="true"
      >
        <use href="/img/icons.svg#icon-decoration"></use>
      </svg>

      <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-descr">
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>

    <div class="feedbacks-wrapper">
      <div class="swiper feedbacks-swiper">
        <ul class="swiper-wrapper feedbacks-list">
          <!-- Тута js будет чудить -->
        </ul>
      </div>

      <div class="feedbacks-pagination-nav">
        <div class="swiper-pagination-container">
          <div class="swiper-pagination feedbacks-pagination"></div>
        </div>

        <div class="feedbacks-nav">
          <button
            class="feedbacks-btn feedbacks-btn-prev"
            type="button"
            aria-label="Previous feedback"
          >
            <svg class="feedbacks-icon" width="48" height="48">
              <use href="/img/icons.svg#icon-slider-arrow-left"></use>
            </svg>
          </button>
          <button
            class="feedbacks-btn feedbacks-btn-next"
            type="button"
            aria-label="Next feedback"
          >
            <svg class="feedbacks-icon" width="48" height="48">
              <use href="/img/icons.svg#icon-slider-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
