<footer class="footer">
  <div class="container">
    <div class="footer-card">

      <!-- Left: logo + copyright -->
      <div class="footer-brand">
        <img src="/img/FooterLogo.svg" alt="Maria Kovalenko Photography logo" class="footer-logo" />
        <p class="footer-copy">© 2025 Maria Kovalenko Photography.<br>All rights reserved.</p>
      </div>

      <!-- Right: Menu + Follow Me -->
      <div class="footer-links-wrap">

        <nav class="footer-col footer-col--menu">
          <p class="footer-col-title">Menu</p>
          <ul class="footer-menu-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </nav>

        <div class="footer-col footer-col--social">
          <p class="footer-col-title">Follow Me</p>
          <ul class="footer-social-list">
            <li>
              <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                <svg id="icon-facebook" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                <svg id="icon-instagram" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
                <span>Instagram</span>
              </a>
            </li>
            <li>
              <a href="https://x.com" target="_blank" rel="noopener noreferrer">
                <svg id="icon-x" width="24" height="24">
                  <use href="./img/icons.svg#icon-x"></use>
                </svg>
                <span>X</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</footer>
