<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="header-logo" aria-label="Go to homepage">
                <img src="/img/CompanyLogo.svg" alt="logo" class="header-logo" />
            </a>
            <button class="header-burger-btn" type="button" aria-label="Open navigation menu">
                <svg class="header-menu-icon">
                    <use href="/img/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#">About Me</a>
                    </li>

                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#benefits">Benefits</a>
                    </li>

                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#portfolio">Portfolio</a>
                    </li>

                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#contacts" class="header-nav-link header-session-link">Book a Session</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

</header>