<div class="backdrop is-hidden" data-modal="success">
  <div class="container">
    <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Thank You for Your Inquiry!</h2>

    <div class="modal-img-wrapper">
      <picture>
        <source srcset="./img/modal1x.jpg 1x, ./img/modal2x.jpg 2x" />
        <img
          class="modal-img"
          src="./img/modal1x.jpg"
          alt="Success"
          loading="lazy"
        />
      </picture>
    </div>

    <p class="modal-text">
      I have received your message and I'm so excited about your interest! I
      will get in touch with you within 24-48 hours to discuss the details of
      your wedding day. In the meantime, feel free to browse my portfolio or
      follow me on Instagram for more inspiration.
    </p>
    </div>
  </div>
</div>
