.faq-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.faq-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.faq-title {
  font-family: 'Cormorant', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.faq-descr {
  font-size: 18px;
  text-align: center;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  border: 2px solid #000;
  border-radius: 24px;
  background-color: #faf7e6;
}

.faq-quastion-wrapper {
  display: flex;
  gap: 24px;
  padding: 20px 24px;
}

.faq-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.faq-question-icon {
  transition: transform 400ms ease;
}

.faq-item.is-active .faq-question-icon {
  transform: rotate(45deg);
}

.faq-question {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.faq-answer-wrapper {
  overflow: hidden;
}

.faq-answer {
  padding: 24px;
  padding-top: 0;
}

@media only screen and (min-width: 1440px) {
  .faq-section .container {
    gap: 80px;
  }

  .faq-title-wrapper,
  .faq-list {
    width: 768px;
  }

  .faq-title {
    font-size: 48px;
  }
}
