.portfolio-title {
  font-weight: 500;
  font-size: 32px;
  font-family: 'Cormorant', sans-serif;
  margin-bottom: 32px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .portfolio-title {
    font-size: 48px;
  }
}
.portfolio-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.portfolio-category {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
}

.portfolio-category > li {
  padding: 10px 16px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.portfolio-category > li:hover,
.portfolio-category > li:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

li.selected-category {
  border-color: black;
}

.portfolio-images {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .portfolio-images {
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 48px;
    justify-content: center;
  }
}

.portfolio-images > li > img {
  width: 335px;
  height: 334px;
  border-radius: 16px;
  display: block;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .portfolio-images > li > img {
    width: 340px;
    height: 339px;
  }
}
@media only screen and (min-width: 1440px) {
  .portfolio-images > li > img {
    width: 421px;
    height: 421px;
  }
}
.show-more-button {
  border: 2px solid #dcc110;
  border-radius: 6px;
  padding: 10px 112.5px;
  background: #dcc110;
  transition: background-color 250ms ease;
  font-weight: 500;
}

.show-more-button:not(:disabled):hover,
.show-more-button:not(:disabled):hover {
  background: none;
}

.show-more-button:not(:disabled):active {
  box-shadow:
    inset 0 2px 4px -2px rgba(0, 0, 0, 0.06),
    inset 0 4px 8px -2px rgba(0, 0, 0, 0.1);
  background: #e6d357;
}

.show-more-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.portfolio-loader-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 48px auto;
}

.is-hidden {
  display: none;
}
